
/.vs
/DTAR_08E86330_4835_4B5C_9E5A_61F37AE1A077_DTAR
/obj
/Zal__doChallenge/bin
/Zal__doChallenge/obj
/Zal__doChallenge.Background/bin
/Zal__doChallenge.Background/obj
/Zal__doChallenge.Shared/bin
/Zal__doChallenge.Shared/obj